body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bingocard {
  width: 100%;
  display: inline-flex;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  background: aliceblue
}

.bingocard li:hover{
 background: cadetblue;
}

.markedsayings {
  width: 100%;
  display: inline-flex;
  background:seagreen;  
  font-size: 17px;
  text-decoration: none;
}

.markedsayings li {
  padding: 14px 16px
}

.warningnote {
  background: orangered;
  color: whitesmoke;
  font: 16px "courier", Helvetica, Arial, sans-serif;
}
ul.bingocard.player li:hover {
  background-color: #c0ffee;
  color: goldenrod
}
ul.bingocard.player.playername li:hover {
  background-color: #c0ffee;
}

.bingocard li{
  padding: 15px 15px;
  list-style: none
}
